NET/labo5/MVC_labo5/MVC_labo5/Connected Services/ServiceBaseDatos/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58472/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_servicio.Entidades" />
  <xs:element name="ObtenerLibros">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLibrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_servicio.Entidades" minOccurs="0" name="ObtenerLibrosResult" nillable="true" type="q1:ArrayOfLibroBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearLibro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_servicio.Entidades" minOccurs="0" name="libro" nillable="true" type="q2:LibroBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearLibroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>