NET/labo5/MVC_labo5/MVC_labo5/Connected Services/ServiceBaseDatos/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_servicio.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_servicio.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLibroBO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LibroBO" nillable="true" type="tns:LibroBO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLibroBO" nillable="true" type="tns:ArrayOfLibroBO" />
  <xs:complexType name="LibroBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Editorial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumPags" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LibroBO" nillable="true" type="tns:LibroBO" />
</xs:schema>